# Python
__pycache__/
*.py[cod]
.venv/
env/

# Données (On ne commit JAMAIS les données brutes ou processées)
data/raw/
data/processed/
# On garde metadata si les csv ne sont pas trop gros, sinon :
data/metadata/

# Modèles (Trop lourds généralement)
*.pth
*.pt

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db